@page "/organisers/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Organiser</h3>
<hr />
<br />

<FormComponent ButtonText="Create Organiser" org="org" OnValidSubmit="@CreateOrganiser" />

@code {
    Organiser org = new Organiser();

    protected async override Task OnInitializedAsync()
    {

    }

    private async Task CreateOrganiser()
    {
        await _client.PostAsJsonAsync(Endpoints.OrganisersEndpoint, org);
        _navManager.NavigateTo("/organisers/");
    }
}
